<header>
    <div class="navbar navbar-dark shadow-sm" style="background-color:black;">
        <div class="navbar-brand align-item-center d-flex">
            <a class="navbar-brand" style="color:white">Bait 'N Tackle</a>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
            </div>
            <button routerLink="/orders" class="btn" style="color:white;">My Orders</button>
            <span class="fas fa-search search-icon" style="color: black;"></span>


        </div>
        <button routerLink="/cart" class="btn" style="color:white;">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>