/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* body {
    background: url('assets/images/sea4.jpg');
} */