<div class="container-body">
        <div class="body-element">
            <div class="box1">
                <img src="{{ prod.productImage }}" alt="{{ prod.productName }}" width="100px" height="80px"
                style="border-radius: 8px;">
            </div>
            <div class="box2">
                <p>{{ prod.productName }}</p>
            </div>
            <div class="box3">
                <p>$ {{ prod.productPrice }}</p>
            </div>
            <div class="box4">
                <p>{{ prod.productQuantity }} kgs</p>
            </div>
            <div class="box5">
                <ul>
                    <li><button class="delete" (click)="onDelete(prod)">Delete</button></li>
                    <!-- <hr> -->
                    <br>
                    <li><button class="modify" (click)="onModify(prod)">Modify</button></li>
                </ul> 
            </div>
        </div>
</div>
    <!-- <tr>

        <td><img src="{{ prod.productImage }}" alt="{{ prod.productName }}" width="100px" height="80px"
            style="border-radius: 8px;"></td>
            <td>
                <p>{{ prod.productName }}</p>
            </td>
            <td>
                <p>$ {{ prod.productPrice }}</p>
            </td>
            <td>
                <p>{{ prod.productQuantity }} kgs</p>
            </td>
            <td>
                <ul>
                    <li><button class="delete" (click)="onDelete(prod)">Delete</button></li>
                    <hr><br>
                    <li><button class="modify" (click)="onModify(prod)">Modify</button></li>
                </ul>
            </td>
            
    </tr> -->