.form-body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;

}
.text-size{
    font-size: 5vh;
}
.center-text{
    /* font-size: 35px; */
    font-weight: bold;
    text-align: center;
    color: white;
}
.form-element{
    width: 20vw;
    height: 5vh;
    border-radius: 2vh;
    text-align: center;
    font-weight: bold;
    padding: 1vh 0px;
    margin: 2.5vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 2.5vh;
}
#addProductButton, #modifyProductButton{
    background-color: rgb(21, 46, 32);
    width: 7vw;
    height: 6vh;
    position: absolute;
    bottom: 0vh;
    left: 23vh;
    color: white;
}
#addProductButton:hover,  #modifyProductButton:hover, #close:hover{
    cursor: pointer;
}

#close{
    background-color: rgb(243, 41, 14);
    width: 4.5vh;
    height: 4.5vh;
    position: absolute;
    top: 1vh;
    right: 1vh;
    border-radius: 1vh;
    color: white; 
}

